<!DOCTYPE html>
<html ng-app="Questionaire">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/StartController.js"></script>
        <script src="js/controllers/VpQuestionsController.js"></script>
        <script src="js/factories/VpQuestion_Metrics.js"></script>
        <script src="js/factories/vpDataservice.js"></script>
        <script src="js/factories/mgrDataservice.js"></script>
        <script src="js/controllers/ResultsController.js"></script>
        <script src= "js/controllers/ManagerController.js"></script>
        <script src= "js/factories/MgrQuestion_metrics.js"></script>
        <script src="js/controllers/MgrResultController.js"></script>
        <title>Questionaire</title>
    </head>
    <body>
             <!-- Startcontroller Area -->
            <div class="container"  ng-controller="StartController as strt" ng-hide="strt.QsnMetrics.StartActive || strt.QsnMetrics.resultActive
             || strt.MgrQsnMetrics.StartActiveMgr || strt.MgrQsnMetrics.resultActiveMgr">
                <form>
                <h2 class="little-big-header">Questionaire!</h2>
               <div class="line"><label for="username">Email: </label>
                <input class="nice" type="email" id="username"  class="form-control" placeholder="Please enter your email" />
                </div>
                <div class="line"><label for="companyname">Company Name: </label>
                <input class="nice" type="text" id="company"  class="form-control" placeholder="Please enter your company name" />
                </div>
                <div class="line"><label for="role">Role:</label>
                <select  id="selectrole" class="form-control"  ng-model="strt.data.selectedOption" 
                 ng-options="option.name for option in strt.data.availableOptions track by option.id"></select>
                </div>
               <div class="line"><label for="companycategory">Company Category:</label>
                <select  id="selectcompany" class="form-control"  ng-model="strt.companycategory.selectedCategory" 
                 ng-options="option.cat for option in strt.companycategory.categoryOptions track by option.id"
                ></select>
                </div>
                <br>
                <div>
                <button id="strt-btn" type="submit" class="btn btn-default pull-right" ng-click="strt.StartQuestionaire(strt.data.selectedOption)">Start</button>  
                </div>
                </form>
            </div>

<!-- QuestionController Area for Vice President-->
<div class="container">
            <!-- Progress Area -->
        <div ng-controller="QuestionsController as qns" ng-show="qns.QsnMetrics.StartActive">
            <div class="row" id="progress"> 
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <button class="btn"
                         ng-repeat="question in qns.select" 
                            ng-class="{'btn-success disabled': question[qns.index] !== null, 'btn-danger': question[qns.index]  === null}">
                            <span class="glyphicon" ng-class="{'glyphicon-pencil': question[qns.index]  !== null, 'glyphicon-question-sign': 
                            question[qns.index]   ===null}" >
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                      <!--  <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- end of progress area -->

                <div class="row">
                     <!-- for showing alert when user have not answered all of the questions -->
                     <div class="alert alert-danger" ng-show="qns.error">
                        <strong>Error!</strong> You have not answered all of the questions.
                        <button class="close" ng-click= "qns.error = false">&times</button>
                        </div>
               <h3 ng-hide="qns.finalise" id="questionhead">Question:</h3>
                <div class="well well-sm" ng-hide="qns.finalise" id="question">
                    <div class="row">
                        <div class="col-xs-12">
                            <!--Question-->
                            <h4 >{{qns.index+1 + ". " + qns.data.qtext}}</h4>
                            <div class="row">
                                <!-- answer-->
                                <div class= "col-sm-6" ng-repeat= "answer in qns.data.possibilities" >
                                <h4 class="answer" ng-class="{'btn-success': $index=== qns.data.selected}"
                                ng-click="qns.selectAnswer(answer,$index)">
                                    {{answer.atext}} 
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div> 
                        <button id="next" class="btn btn-success" ng-show="qns.data.selected !==null"
                                ng-class="{'btn-success': $index=== qns.data.selected!==null}"
                                 ng-click="qns.questionAnswered()">Next</button>
                                 <br>
                        <div> <br>Weightage is: {{qns.nexttotal}}</div>
                        </div>
                           
                <!-- for showing alert to submit result -->
                 <div ng-show="qns.finalise" id="submit-alert">
                        <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <button class="btn btn-success" ng-click="qns.finaliseAnswers()">Yes</button>
                            <button class="btn btn-danger" ng-click="qns.notsubmitanswers()">No</button>
                    </div>
                </div>
            </div>
         </div>


<!-- Questionaire Area for Manager-->
<div class="container">
            <!-- Progress Area-->
        <div ng-controller="ManagerController as mgrqns" ng-show="mgrqns.MgrQsnMetrics.StartActiveMgr">
            <div class="row" id="progress">
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <button class="btn"
                         ng-repeat="question in mgrqns.MgrDataService.questions" ng-show="question.selected !==null"
                            ng-class="{'btn-success disabled': question.selected !== null, 'btn-danger': question.selected === null}">
                            <span class="glyphicon" ng-class="{'glyphicon-pencil': question.selected !==null, 'glyphicon-question-sign': 
                            question.selected ===null}">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4" id="legend">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                    <!--    <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- end of progress area-->

                 <div class="row">
                     <!-- for showing alert when user have not answered all of the questions -->
                     <div class="alert alert-danger" ng-show="mgrqns.errormgr">
                        <strong>Error!</strong> You have not answered all of the questions.
                        <button class="close" ng-click= "mgrqns.errormgr = false">&times</button>
                        </div>
               <h3 ng-hide="mgrqns.finalisemgr" id="questionhead">Question:</h3>
                <div class="well well-sm" ng-hide="mgrqns.finalisemgr" id="question">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{mgrqns.index+1 + ". " + mgrqns.MgrDataService.questions[mgrqns.activeQuestionmgr].text}}</h4>
                            <div class="row">
                                <div class= "col-sm-6" ng-repeat= "answer in mgrqns.MgrDataService.questions
                                [mgrqns.activeQuestionmgr].possibilities">
                                <h4 class="answer" ng-class="{'btn-success': $index=== mgrqns.MgrDataService.questions[mgrqns.activeQuestionmgr].selected}"
                                ng-click="mgrqns.selectAnswermgr(answer,$index)">
                                    {{answer.answer}} 
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button id="next" class="btn btn-success" ng-show="mgrqns.MgrDataService.questions[mgrqns.activeQuestionmgr].selected !==null"
                         ng-class="{'btn-success': $index=== mgrqns.MgrDataService.questions[mgrqns.activeQuestionmgr].selected}"
                        ng-click="mgrqns.questionAnsweredmgr()">Next</button>
                         <div> 
                             <br>Weightage is: {{mgrqns.nexttotalmgr}}
                        </div>
                   </div>
                        
                <!-- for showing alert to submit result--> 
                 <div ng-show="mgrqns.finalisemgr" id="submit-alert">
                   <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <button class="btn btn-success" ng-click="mgrqns.finaliseAnswersmgr()">Yes</button>
                            <button class="btn btn-danger" ng-click="mgrqns.notsubmitanswers()">No</button>
                        </div>
                    </div>
                </div>
            </div>



<!-- ResultController area for V.P-->  
<div class="container">
        <div ng-controller="ResultsController as results" ng-show="results.QsnMetrics.resultActive">
        <h1 id="weightage">Total Weightage is: {{results.QsnMetrics.totalweight}}</h1>
      </div> 
</div>

<!-- MgrResultController area for Manager-->
<div class="container">
        <div ng-controller="MgrResultController as mgrresults" ng-show="mgrresults.MgrQsnMetrics.resultActiveMgr">
             <h1 id="weightage">Total Weightage is: {{mgrresults.MgrQsnMetrics.totalweightmgr}}</h1>
        </div>
</div>

</body>
</html>

 